<div class="container-top" style="background-image: url('<%= asset_path('book.jpg') %>'); background-size: cover; background-position: top center; background-repeat: no-repeat; background-attachment: fixed; background-color: #464646; height: 100vh; display: flex; justify-content: center; align-items: center;">
  
  <div class="row">
    <div class="text-container">
      <div id="content1" class="fade show">
        <h1 class="title">MEMORICIA</h1>
        <h5 class="subtitle" style="white-space: normal;">Collect and Share <br>Your Original Characters</h5> 
        <i id="arrow" class="fa-solid fa-right-long fa-2x" style="cursor: pointer;"></i>
      </div>

      <div id="content2" class="fade col-lg-4">
        <h2 class="text-left">メモリシアとは？</h2>
        <h5 class="mt-5 text-left">
        メモリシアは、オリジナルキャラクターを
        記録・共有できる創作支援サイトです。<br>
        設定やストーリーを整理し、大切な創作を
        一つの場所にまとめられます。<br>
        <br>
        キャラクター管理や交流を通じて、新たなインスピレーションを見つけてみませんか？
        </h5>
      </div>
    </div>
  </div>
</div>