* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}


body{
  min-height: 100%;
  background-color: #fbfaf5;
}


.menu-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
}

/* メニューのスライド動作 */
#menuContent {
  position: fixed;
  top: 0;
  right: -250px; /* 初期状態は非表示 */
  width: 250px;
  height: 100%;
  background: #fffffe;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  padding-top: 60px;
  z-index: 2000;
}

/* メニューリスト */
.menu-list {
  list-style: none;
  padding: 0;
}

.menu-list li {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.menu-list li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

/* メニューが開いた状態 */
#menuContent.show {
  right: 0;
  background-color: #fffffe;
}


/* ハンバーガーアイコンのデザイン */
.navbar-toggler {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  z-index: 2000;
}

.navbar-toggler span {
  display: block;
  height: 4px;
  background-color: #333;
  transition: all 0.3s ease;
}

/* ハンバーガーアイコンがクリックされたときのアニメーション */
#menuToggle.open .navbar-toggler span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

#menuToggle.open .navbar-toggler span:nth-child(2) {
  opacity: 0;
}

#menuToggle.open .navbar-toggler span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}


/* top画面文字切り替え */
.fade {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
}

.show {
  opacity: 1;
  visibility: visible;
}

#content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}


/* 新規登録、ログイン画面デザイン */
.stich {
  border: 2px dashed #fef2e7;
  box-shadow: 0 0 0 8px #c7a07e;
  padding: 15px;
  background: #d3ad8c;
  border-radius: 10px;
  color: #fff;
}


/* 新規登録、ログイン画面ボタンデザイン */
.background_btn {
  position: relative;
  width: 100%;
  max-width: 350px; /* ボタンの幅 */
  color: #fff;
  font-weight: 600;
  background:#bc7926;
  transition: all 0.5s;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 1em 2em;
}

/* マウスオーバーした際のデザイン */
.background_btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  border: 2px solid #b77134; /* 枠の色 */
  transform: scale(1.5,1.5);
  opacity: 0;
  z-index: 1;
}
.background_btn:hover {
  background: #fff;
  color: #b77134;
}
.background_btn:hover::after {
  opacity: 1;
  transform: scale(1,1);
}


.circle_btn {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 200px; /* ボタンの最大幅 */
  padding: 3em 2em;
  color: #bc7926; /* 文字色 */
  transition: 0.3s ease-in-out;
  font-weight: bold;
  text-decoration: none !important;
}

.circle_btn::before, .circle_btn::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
}

.circle_btn::before {
  width: 0.5em;
  height: 0.5em;
  left: 1em;
  border-top: solid 2px #fff; /* 矢印の色 */
  border-right: solid 2px #fff; /* 矢印の色 */
  z-index: 2;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.3s;
}

.circle_btn::after {
  left: 0;
  background: #d3ad8c; /* 背景色 */
  z-index: 1;
  width: 3em;
  height: 3em;
  border-radius: 3em;
  transform: translateY(-50%);
  transition: all 0.5s;
}

.circle_btn span {
  position: relative;
  transition: all 0.3s;
  z-index: 3;
}

/* マウスオーバーした際のデザイン */
.circle_btn:hover span {
  color: #fff; /* 文字色 */
}

.circle_btn:hover:before {
  left: 1rem;
}

.circle_btn:hover:after {
  right: 0;
  width: 100%;
}

#character_preview_container {
  width: 100%;
  min-height: 100vh;
  left: 0;
  top: 0;
}

/* キャラクター情報コンテナ */
.character-container {
  min-height: 600px;
  height: 100%;
}

/* キャラクター詳細欄 */
.detail-text {
  height: 450px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

/* 立ち絵表示コンテナ */
.image-upload-container {
  display: flex;
  align-items: center;
  margin: 20px;
  height: 800px;
}

.drop-area {
  width: 100%;
  height: 90%;
  border: 2px dashed #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.drop-area img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.character-row {
  flex-wrap: wrap;
  align-items: center;
}
